<table class="table table-hover ">
  <ng-content #thead></ng-content>
  <tbody class="animate__animated animate__fadeIn animate__faster">
    <tr *ngFor="let country of dataCountry">

      <td> {{country.numericCode}} </td>
      <td>  <img [src]="country.flag" class="img-flag" [alt]="country.name"> </td>
      <td>  {{country.capital}}, {{country.name}} </td>
      <td> {{country.population |number}} </td>
      <td> <button [routerLink]="['/Dashboard/pais/', country.alpha2Code]" class="btn btn-sm btn-info"> Ver mas</button> </td>
    </tr>
  </tbody>
</table>