
<div  class="animate__animated animate__fadeIn animate__faster">
  <h3>Buscar por Region <small>{{regionActive |titlecase}}</small></h3>
<hr>
<h5>Selecione una region</h5>
<div class="row">
  <div class="col">
<!--[ngClass]="{'btn-primary': region===regionActive, 'btn-outline-primary': regionActive!=region }" -->
  <!--  [class.btn-primary]= "region===regionActive" -->  
    <button 
    (click)="activeRegion(region)" 
    *ngFor="let region of regiones" 
     [class]="(region===regionActive) ? ' btn btn-primary mr-1': ' btn btn-outline-primary mr-1' ">
      {{region |titlecase}}
    </button>
  </div>
</div>
</div>
<div class="row">
    <div class="col">
      <app-datetable  *ngIf="data!=null" [dataCountry]="data">

        <thead id="thead">
          <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th>Opciones</th>
          </tr>
        </thead>
      </app-datetable>
    </div>
</div>